[Desktop Entry]
Version=1.0
Name=Huayra-CAM
Comment=Aplicación de Cámara de Fotos
Exec=huayra-cam
Terminal=false
Type=Application
Icon=huayra-cam
Categories=GNOME;GTK;Huayra;Graphics;
Keywords=cam;camara;fotos;photo;
Name[es_AR]=Huayra-CAM
